<div id="articles">
  <% @hackernews_entries.each do |e| %>
  <article class="article">
    <h5><a href="<%= e.link.href %>"><%= e.link.title %></a></h5>
    <p><%= e.voting.score %> points</p>
    <p><%= e.time.strftime("%T, %D") %></p>
    <a href="<%= e.comments_url %>" target="_blank">[<%= e.comments_count %> comment(s) (if you really want them)]</a>
  </article>
  <% end %>
</div>