<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/application.css">
  <title>Just The Links</title>
</head>
<body>
  <h1 id="title">Just The Links</h1>
  <h2 id="subtitle">Accessible programming news and links from Hackernews, without the peanut gallery.</h2>

  <div id="articles">
    <% @hackernews_entries.each do |e| %>
    <div class="article">
      <h5>Title: <%= e.link.title %></h5>
      <p><%= e.voting.score %> points</p>
      <a class='article-link' href="<%= e.link.href %>" target="_blank">[article]</a>
      <a href="<%= e.comments_url %>" target="_blank">[<%= e.comments_count %> comments (if you really want)]</a>
    </div>
    <% end %>
  </div>

</body>