<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/application.css">
  <title>Just The Links</title>
</head>
<body>
  <nav>
    <h1 id="nav-title">Just The Links: <span id="nav-subtitle">Accessible programming news and links from Hackernews<span></h2>
    <a href="/">[main]</a>
    <a href="/newest">[newest]</a>
    <a href="/jobs">[jobs]</a>
  </nav>
  <h3><%= @header %></h3>
  <div id="articles">
    <% @hackernews_entries.each do |e| %>
    <div class="article">
      <h5>Title: <%= e.link.title %></h5>
      <p><%= e.voting.score %> points</p>
      <p><%= e.time.strftime("%T, %D") %></p>


      <a class='article-link' href="<%= e.link.href %>" target="_blank">[article]</a>
      <a href="<%= e.comments_url %>" target="_blank">[<%= e.comments_count %> comments (if you really want)]</a>
    </div>
    <% end %>
  </div>

</body>